---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="About Me"
  pubDate={new Date("April 20 2024")}
>
  <p>
    Over the last 3 years, I have been fortunate enough to get many
    opportunities at theatres in my area. I've worked on 5+ shows as a
    technician, and more as various other roles.
  </p>
</Layout>
