---

---

<nav class="flex flex-row gap-2 border-b border-black pb-2">
    <a href="/" class="text-xl font-semibold underline-offset-3 hover:text-primary hover:underline">Home</a>
    <a href="/blog" class="text-xl font-semibold underline-offset-3 hover:text-primary hover:underline">Blog</a>
</nav>