---
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry }: any = Astro.props;
const { Content } = await entry.render();

import Navbar from "../../../components/navbar.astro";
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <section class="p-4 max-w-4xl mx-auto">
      <Navbar />
      <button onclick="window.history.go(-1); return false;" class="underline text-blue-600 mb-2">&lt; Go Back</button>
      <img src={entry.data.image} alt="Post Image" class="mb-4" />
      <h1 class="text-4xl font-semibold pb-4">{entry.data.title}</h1>
      <div class="prose prose-zinc w-full max-w-none text-justify">
          <Content />
      </div>
    </section>
  </body>
</html>
